*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{   
    background-color: rgba(0, 0, 0, 0.3);
    width:100vw;
    height:100vh;
}
.container{
    width: 100%;
    height: 100%;  
    overflow: hidden;
    position: relative;
    filter: url(#drip);
}
.drip{
    width: 100px;
    height: 100px;
    top:-20%;
    background-color: #ff3545;
    position: absolute;
    border-radius: 50%;
    animation: fall 20s infinite;
}
@keyframes fall{
    0%{top:-20%;}
    20%{top:0%;}
    80%{top:85%;}
    100%{top:100%;}
}
.drip:nth-of-type(2n){
    width:60px;
    height:60px
}
.drip:nth-of-type(3n){
    width:120px;
    height:120px
}
.drip:nth-of-type(1){

    left:30%;
    animation-delay: 1s;

}
.drip:nth-of-type(2){

    left:60%;
    animation-delay: 2s;
    
}
.drip:nth-of-type(3){

    left:25%;
    animation-delay: 3s;
    
}
.drip:nth-of-type(4){

    left:75%;
    animation-delay: 4s;
    
}
.drip:nth-of-type(5){

    left:35%;
    animation-delay: 5s;
    
}
.drip:nth-of-type(6){

    left:50%;
    animation-delay: 6s;
    
}
.drip:nth-of-type(7){

    left:65%;
    animation-delay: 7s;
    
}
.drip:nth-of-type(8){

    left:35%;
    animation-delay: 8s;
    
}
.drip:nth-of-type(9){

    left:50%;
    animation-delay: 9s;
    
}
.drip:nth-of-type(10){

    left:55%;
    animation-delay: 10s;
    
}.drip:nth-of-type(11){

    left:35%;
    animation-delay: 11s;
    
}
.drip:nth-of-type(12){

    left:50%;
    animation-delay: 12s;
    
}.drip:nth-of-type(13){

    left:65%;
    animation-delay: 13s;
}
.drip:nth-of-type(14){

    left:40%;
    animation-delay: 14s;
}
.border{
    position: absolute;
    background-color: #ff3545;
    width: 100%;
    height: 10%;
}
.border:nth-last-of-type(1){
    top:0;
    left:0;
}
.border:nth-last-of-type(2){
    bottom: 0;
    left:0;
}

