#myCanvas{

    width: 490px;
    height: 490px;
    border:1px solid black;
    background: white;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%,-50%);
    margin:0 auto;
    border-radius: 1%;
    box-shadow: 50px;
}
.bg .mazeTitle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
h1{
    padding-top: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color:white;
    font-size: 30;
}



.box{
    width: 400px;
    height: 500px;
    border:1px solid black;
    border-radius: 10%;
    background: linear-gradient(to right,red 0%, red 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:0 auto;
}
.box:hover{
    background: linear-gradient(to right,blue 0%, red 100%);
}