#myCanvas{

    width: 490px;
    height: 490px;
    border:1px solid black;
    background: green;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:0 auto;
    border-radius: 1%;
    box-shadow: 50px;
    z-index: 1;
}
#mazeTitle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
}
#wifiSymbol{
    border-radius: 2px;
}
#serverSymbol{
    border-radius: 2px;
}
#serverSymbol:hover
{
    -ms-transform: scale(1.1, 1.1);
     -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); 
    cursor: pointer;
}
#serverStat{
    display: none;
}
.op-modal{   
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.9);
    position: absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.opmodal-content {

    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 7px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.bg-modal{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.9);
    position: absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 3;

}
.modal-content {

    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 7px;
    text-align: center;
    padding: 90px;
    position: relative;
}
input{
    width: 50%;
    display: block;
    margin: 15px auto;
} 
.close{
    font-family: fantasy;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	margin-top: 10px;
	display: inline-block;
    background-color: white;
    color: #ff3545;
    border: 2px solid #ff3545;
    cursor: pointer;
}
.close:hover{
    background-color: #ff3545;
    color: white;
}
.button {
    font-family: fantasy;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	margin-top: 10px;
	display: inline-block;
    background-color: white;
    color: #ff3545;
    border: 2px solid #ff3545;
    cursor: pointer;
}
.button:hover{
    background-color: #ff3545;
    color: white;
}
#reload {
    font-family: fantasy;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	margin-top: 10px;
	display: inline-block;
    background-color: white;
    color: #26af15;
    border: 2px solid #26af15;
    cursor: pointer;
}
#reload:hover{
    background-color: #26af15;
    color: white;
}
h4{
    font-family: 'Barlow Condensed', sans-serif;
    font-size:x-large
}

.openText {
    padding:10px 15px;
    background:#f5f5f5;
    font-size:25px;
    font-family: 'Barlow Condensed', sans-serif;
    
    border-radius:50px;
}
.openText p {
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 4s steps(22,end) forwards,
              blink 1s infinite;
}
.mobile-arrows {
    display: none;
}

@keyframes typing {
    0% { width:0% }
    100% { width:100% }
}
@keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid #222;
    }
}

@media only screen and (max-width: 1250px) {
    #myCanvas {
        height: 500px;
        width: 500px;
    }
}

@media only screen and (max-height: 815px) {
    #myCanvas {
        height: 500px;
        width: 500px;
    }
}

@media only screen and (max-width: 1050px) {
    #myCanvas {
        height: 400px;
        width: 400px;
    }
}

@media only screen and (max-height: 725px) {
    #myCanvas {
        height: 400px;
        width: 400px;
    }
}

@media only screen and (max-width: 850px) {
    #myCanvas {
        height: 300px;
        width: 300px;
    }
}

@media only screen and (max-height: 645px) {
    #myCanvas {
        height: 300px;
        width: 300px;
    }
}

.oft{
    width:100%;
    height:100%;
    background-color:rgba(255,0,0,0.1);
    position: absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 0;
}
.sof{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}


#status{
    font-family:  'Barlow Condensed', sans-serif;
    letter-spacing: 0.1cm;
    color: white;
}