#myCanvas{

    width: 490px;
    height: 490px;
    border:1px solid black;
    background: white;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%,-50%);
    margin:0 auto;
    border-radius: 1%;
    box-shadow: 50px;
}
.bg .mazeTitle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.op-modal{   
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;

}
.opmodal-content {

    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 7px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.bg-modal{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-content {

    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 7px;
    text-align: center;
    padding: 20px;
    position: relative;
}
input{
    width: 50%;
    display: block;
    margin: 15px auto;
}
.close{
    font-family: fantasy;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	margin-top: 10px;
	display: inline-block;
    background-color: white;
    color: #ff3545;
    border: 2px solid #ff3545;
    cursor: pointer;
}
.close:hover{
    background-color: #ff3545;
    color: white;
}
.button {
    font-family: fantasy;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	margin-top: 10px;
	display: inline-block;
    background-color: white;
    color: #ff3545;
    border: 2px solid #ff3545;
    cursor: pointer;
}
.button:hover{
    background-color: #ff3545;
    color: white;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}